<archangel-footer-row layout="row">
    <div flex="10">

    </div>
    <div flex="60">
        
    </div>
    <div flex="20">
        <h4>Newsletter</h4>
        <div layout="row">
            <div flex="100" class="newsletter-box">
                <md-input placeholder="Name" ng-model="name" minlength="10" maxlength="100" style="width: 100%"></md-input>
                <md-input placeholder="Email" ng-model="email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" style="width: 100%"></md-input>
                <div layout="row">
                    <button md-raised-button>Subscribe</button>
                    <a href="#" class="social-icon social-icon-border social-facebook margin-left">
                        <i class="icon-facebook"></i>
                    </a>
                    <a href="#" class="social-icon social-icon-border social-twitter">
                        <i class="icon-twitter"></i>
                    </a>
                    <a href="#" class="social-icon social-icon-border social-google-plus">
                        <i class="icon-google-plus"></i>
                    </a>
                    <a href="#" class="social-icon social-icon-border social-linkedin">
                        <i class="icon-linkedin2"></i>
                    </a>
                    <a href="#" class="social-icon social-icon-border social-rss">
                        <i class="icon-rss"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div flex="10">

    </div>
</archangel-footer-row>
<archangel-footer-row layout="row">
    <div flex="10">

    </div>
    <div flex="60">
        © 2017 All Rights Reserved, Archangel Community LTD
    </div>
    <div flex="20">
        <a href="#">Terms and Conditions</a> • <a href="#">Privacy</a>
    </div>
    <div flex="10">

    </div>
</archangel-footer-row>