<div class="slide slide__content-1">
    <archangel-countdown year="2017" month="12" day="31" class="centralize"></archangel-countdown>
</div>

<div class="slide slide__content-2">
    <div class="title">
        <h1>You need this</h1>
        <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis
            movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores
            perpetua cum at. Id viris docendi denique vim.</p>
    </div>
</div>

<div class="slide slide__content-3">
    <div class="title">
        <h1>Security</h1>
        <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis
            movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores
            perpetua cum at. Id viris docendi denique vim.</p>
    </div>
    <img src="dist/assets/images/background/space-002.jpg">
    <img src="dist/assets/images/background/space-001.jpg">
</div>

<div class="slide slide__content-4">
    <div class="title">
        <h1>Advantages</h1>
        <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis
            movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores
            perpetua cum at. Id viris docendi denique vim.</p>
    </div>
</div>