<div class="md-padding" layout="row" layout-wrap layout-align="center start" layout-padding>
    <div class="panel">
        <div class="panel-header">Enter your email</div>
        <div class="panel-body" layout-padding>
            <form (ngSubmit)="forgotPassword()" [ngFormModel]="forgotPasswordViewModel.controlGroup" #registerForm="ngForm" flex>
                <md-input-container class="md-block">
                    <label for="email">E-mail</label>
                    <input md-input ngControl="email" [(ngModel)]="forgotPasswordViewModel.email" />
                    <div md-messages="email">
                        <div md-message="required">TODO</div>
                    </div>
                </md-input-container>
                <div class="form-group">
                    <button type="submit" md-raised-button class="md-raised md-primary">Send</button>
                    <button type="button" md-raised-button class="md-raised" (click)="redirectToLogin()">Go to login</button>
                </div>
            </form>
        </div>
    </div>
</div>