<div fxLayout="row">
  <div fxFlex="30"></div>
  <div fxFlex="40">
    <md-card>
      <md-card-title-group>
        <md-card-title>FORGOT PASSWORD</md-card-title>
        <md-card-subtitle>An email will be sent to you to reset your password!</md-card-subtitle>
      </md-card-title-group>
      <md-card-content>
        <md-input-container>
          <input mdInput placeholder="E-mail or Username" type="email">
        </md-input-container>
      </md-card-content>
      <md-card-actions>
        <button md-raised-button color="primary" ng-click="send()">Send</button>
        <button md-button [routerLink]="['../sign-in']">Cancel and go to Sign in</button>
      </md-card-actions>
    </md-card>
  </div>
  <div fxFlex="30"></div>
</div>
