/* Indigo */
$color-50: #E8EAF6;
$color-100: #C5CAE9;
$color-200: #9FA8DA;
$color-300: #7986CB;
$color-400: #5C6BC0;
$color-500: #3F51B5;
$color-600: #3949AB;
$color-700: #303F9F;
$color-800: #283593;
$color-900: #1A237E;
$color-A100: #8C9EFF;
$color-A200: #536DFE;
$color-A300: #3D5AFE;
$color-A400: #304FFE;