/* Light Blue */

$color-50: #E1F5FE;
$color-100: #B3E5FC;
$color-200: #81D4FA;
$color-300: #4FC3F7;
$color-400: #29B6F6;
$color-500: #03A9F4;
$color-600: #039BE5;
$color-700: #0288D1;
$color-800: #0277BD;
$color-900: #01579B;
$color-A100: #80D8FF;
$color-A200: #40C4FF;
$color-A300: #00B0FF;
$color-A400: #0091EA;