<div class="archangel-countdown" [class.archangel-fade-in]="fadeIn" [class.archangel-fade-out]="fadeOut">
    <div class="archangel-countdown__row">
        <div class="header">We are under construction</div>
    </div> 
    <div class="archangel-countdown__row">
        <div class="archangel-countdown__column">
            <div class="archangel-countdown__row">
                <div class="ring">
                    <div class="time">{{remaining.days}}</div>
                </div>
            </div>
            <div class="archangel-countdown__row">
                <div class="legend">Days</div>
            </div>
        </div>
        <div class="archangel-countdown__column">
            <div class="archangel-countdown__row">
                <div class="ring">
                    <div class="time">{{remaining.hours}}</div>
                </div>
            </div>
            <div class="archangel-countdown__row">
                <div class="legend">Hours</div>
            </div>
        </div>
        <div class="archangel-countdown__column">
            <div class="archangel-countdown__row">
                <div class="ring">
                    <div class="time">{{remaining.minutes}}</div>
                </div>
            </div>
            <div class="archangel-countdown__row">
                <div class="legend">Minutes</div>
            </div>
        </div>
        <div class="archangel-countdown__column">
            <div class="archangel-countdown__row">
                <div class="ring">
                    <div class="time">{{remaining.seconds}}</div>
                </div>
            </div>
            <div class="archangel-countdown__row">
                <div class="legend">Seconds</div>
            </div>
        </div>
    </div>
</div>