@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

/* Light 112sp */
.arch-diplay-4 {
    font-size: 112px;
}

/* Regular 56sp */
.arch-diplay-3 {
    font-size: 56px;
}

/* Regular 45sp */
.arch-diplay-2 {
    font-size: 45px;
}

/* Regular 34sp */
.arch-diplay-1 {
    font-size: 34px;
}

/* Regular 24sp */
.arch-headline {
    font-size: 24px;
}

/* Medium 21sp */
.arch-title {
    font-size: 21px;
}

/* Regular 17sp (Device), Regular 16sp (Desktop) */
.arch-subheading {
    font-size: 17px;
}

/* Medium 15sp (Device), Medium 14sp (Desktop) */
.arch-body-2 {
    font-size: 15px; /*medium*/
}

/* Regular 15sp (Device), Regular 14sp (Desktop) */
.arch-body-1 {
    font-size: 15px;
}

/* Regular 13sp */
.arch-caption {
    font-size: 13px;
}

/* Medium 15sp */
.arch-button {
    font-size: 15px;
}